.newsContainer {
    padding: 110px 20px 0 20px;
    margin: 0px 250px 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news {
    border-radius: 5px;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    width: 100%;
    /* margin-top: 100px; */
    padding: 10px 20px;
    background-color: #e8e8e8;
    border: 2px solid #d8d8d8;
    margin: 10px;
}

h1 {
    margin-bottom: 10px;
}


/* Mobile */

@media only screen and (max-width: 600px) {
    .newsContainer {
        margin: 0;
        padding-top: 130px;
    }
    img {
        float: none;
        margin-right: 15px;
        width: 100%;
        object-fit: contain;
    }
    .news {
        width: 95%;
    }
}


/* Tablet */

@media only screen and (max-width: 820px) {
    .newsContainer {
        margin: 0;
        padding-top: 130px;
    }
    img {
        float: none;
        margin-right: 15px;
        width: 100%;
        object-fit: contain;
    }
    .news {
        width: 95%;
    }
}


/* Laptop */

@media only screen and (min-width: 912px) {
    .newsContainer {
        margin: 0 50px 0 50px;
        padding-top: 130px;
    }
    .news {
        width: 95%;
    }
}


/* Large Screen */

@media only screen and (min-width: 1024px) {
    .newsContainer {
        margin: 0 250px 0 250px;
        padding-top: 130px;
    }
    .news {
        width: 95%;
    }
}