* {
    margin: 0;
    padding: 0;
}

.App {
    /* position: absolute; */
}


/* Mobile */


/* 
@media only screen and (max-width: 600px) {
    .App {
        padding: 0;
    }
}
 */


/* Tablet */


/* 
@media only screen and (max-width: 768px) {
    .App {
        padding: 0;
    }
}
 */


/* Laptop */


/* @media only screen and (min-width: 992px) {
    .App {
        padding: 0 100px 0 100px;
    }
} */


/* Large Screen */


/* 
@media only screen and (min-width: 1200px) {
    .App {
        padding: 0 200px 0 200px;
    }
} */